<h1>Listing data_streams</h1>

<table>
  <tr>
    <th>Id item</th>
    <th>Id role</th>
    <th>Info</th>
    <th>Type data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_streams.each do |data_stream| %>
  <tr>
    <td><%= data_stream.item.name %></td>
    <td><%= data_stream.role.name %></td>
    <td><%= data_stream.url %></td>
    <td><%= data_stream.data_type %></td>
    <td><%= link_to 'Show', data_stream %></td>
    <td><%= link_to 'Edit', edit_data_stream_path(data_stream) %></td>
    <td><%= link_to 'Destroy', data_stream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data stream', new_data_stream_path %>
